extends layout

block content
  h1= title
  form(action="/authenticate", method="POST", class="login-form")
    div
      label(for="username") Username
      input(type="text", name="username", id="username")

    div
      label(for="password") Password
      input(type="password", name="password", id="password")

    div
      button(type="submit", name="action", value="login") Login
      button(type="submit", name="action", value="register") Register
