body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

a {
  color: #00B7FF;
}

.login-form {
  position: relative;
  max-width: 300px;
  margin: 0 auto 100px;
  padding: 50px 15px;
}

.login-form input {
  width: 100%;
  margin: 0 0 10px;
  box-sizing: border-box;
  font-size: 14px;
}

.login-form button {
  width: 48%;
  font-weight: bold;
  background-color: #5ea1ffc3;
  border-radius: 3px;
  padding: 2px 15px;
}

.login-form button:hover,
.login-form button:focus {
  background-color: #6cabf9;
}

.login-form button + button {
  margin-left: 4%;
}

.chat-page {
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
}

.chat-page input {
  margin: 10px 0;
  box-sizing: border-box;
  height: 100px;
  width: 100%;
}

.chat-page button {
  font-weight: bold;
  background-color: #ff7d32c3;
  border-radius: 3px;
  padding: 2px 15px;
}

.chat-page button:hover,
.chat-page button:focus {
  background-color: #ff7d32;
}

.bar {
  display: flex;
  background-color: #6cabf9;
  padding: 3px;
  margin: 10px 0;
}

.bar h3 {
  display: inline;
  margin: auto 0;
}

.message {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(230, 230, 230);
}

.message h4 {
  display: inline-block;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}

.message .time {
  float: right;
  font-size: 0.85em;
}

.message p {
  display: block;
  border-width: 0;
  margin: 0;
}
